<!--Contenedor de 5 px arriba-->
<div class="container mt-5">
  <div class="row">
    <!--    columna de 8 y offset para dejar 2 columnas vacias en la izquierda-->
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">LISTADO PRODUCTO</span>
          <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
<!--          margin top 5-->
          <table *ngIf="productsList.length > 0" class="table table-striped mt-5">
            <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Ubicación</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of productsList">
              <td> {{product.nombre}} </td>
              <td> {{product.categoria}} </td>
              <td> {{product.ubicacion}} </td>
              <td> {{product.precio}} </td>
              <td>
                <i [routerLink]="['/editar-producto', product._id]" class="fas fa-edit text-primary"></i>
                <i (click)="deleteProduct(product._id)" class="fas fa-trash text-danger"></i>
              </td>
            </tr>
            </tbody>
          </table>
          <h5 *ngIf="productsList.length == 0">No hay productos para mostrar</h5>
        </div>
      </div>
    </div>
  </div>
</div>
